<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=description content="Health Tracker Project">
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Calorie Calculator</title>
    <link rel=stylesheet href=css/libs/bootstrap.css>
    <link rel=stylesheet href=css/main.css>
</head>
<body>
<div class=container id=health-tracker-app>
    <div class=row>
        <div id=search-view class="col-xs-12 item-list"><h1>Calorie Calculator</h1>

            <div class=input-group id=search-form><input class="form-control search" type=search id=search-bar
                                                         placeholder="Which food item are you looking for?" autofocus
                                                         autocomplete=off><span
                    class="input-group-addon remove">Clear</span></div>
            <h3 class=section-title>Search Results</h3>

            <div class=loading>
                <div class=rect1></div>
                <div class=rect2></div>
                <div class=rect3></div>
                <div class=rect4></div>
                <div class=rect5></div>
            </div>
            <ul id=search-results class=list-group></ul>
        </div>
    </div>
    <div class=row>
        <div id=day-view class="col-xs-12 item-list">
            <h3 class=section-title>Food Tracked for
                <div id=datepicker></div>
            </h3>
            <div class=loading>
                <div class=rect1></div>
                <div class=rect2></div>
                <div class=rect3></div>
                <div class=rect4></div>
                <div class=rect5></div>
            </div>
            <ul id=food-list class=list-group></ul>
            <div class=pull-right>Total Calories: <span id=total-calories class="label label-danger"></span></div>
        </div>
    </div>
</div>
<script type=text/html id=search-item-template><span class="title"><%= title %></span> <span
        class="calories label label-primary"><%= calories %></span></script>
<script type=text/html id=search-item-error-template><span class="error-response text-warning"><%= error %></span>
</script>
<script type=text/html id=food-item-template><span class="list-group-addon remove"><span
        class="glyphicon glyphicon-remove-circle"></span></span> <span class="title"><%= title %></span> <span
        class="calories label label-primary"><%= calories %></span></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js></script>
<script src=https://cdn.firebase.com/js/client/2.2.9/firebase.js></script>
<script src=https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js></script>
<script type=text/javascript src=js/libs/pikaday.js></script>
<script type=text/javascript src=js/app.min.js></script>
</body>
</html>
